@charset "utf-8";
		
*{margin:0; padding:0;}
html{font-size:13px;}
ol,ul{ list-style:none;}
a {outline:0; text-decoration:none; color:#333;}
img {border:0; vertical-align:top;}
body {color:#333; font-family: 'Montserrat';}

#wrap{width:100%;}

/*header*/

#header_wrap{width:100%;
height:120px;
position:fixed;
z-index:1000;}

header{width:90%;
height:120px;
margin:0 auto;
position:relative;}

header::after{content:" ";
display:block;
clear:both;}

#logo{width:188px;
height:120px;
position:relative;
top:30px;}

#logo img{width:90%;}

#logo, util_menu, .util_menu li, .menu-wrapper {float:left;}

.nav_bar{width:225px;
margin-top:46.8px;
float:right;
height:34px;}

.util_menu{width:137px;}

.util_menu li{margin-left:30px;}

.util_menu li:first-child{margin-left:0px;}

/*header_end*/

/*nav(modal)*/
#nav_wrap{width:100%;
height:100vh;
position:fixed;
top:0;
z-index:200;
background:rgba(0,0,0,0.5);
display:none;}

#nav_wrap::after{content:" ";
display:block;
clear:both;}

#nav{width:310px;
height:100%;
padding:120px 90px;
float:right;
position:relative;
right:-490px;
z-index:201;
background-color:rgba(0,0,0,0.83);}

.nav_menu li{margin:2rem 0;}

.nav_menu li:first-child{margin-top:0;}

.nav_line{
width:0;
height:2px;
margin-top:1rem;
background-color:#999;
content:" ";
display:block;
transition-duration:0.7s;}

/*hover 방식 변경*/
.nav_menu h2{color:#999;
font-size:1.5rem;
font-weight:400;
display:inline-block;
position:relative;
left:0;
transition-duration:0.7s;}

.nav_menu ul li:hover h2{color:#fff;
left:20px;}

.nav_sns{width:120px;
height:30px;
margin-top:6em;}

.nav_sns li{margin-left:10%;
float:left;}

.nav_sns li:first-child{margin-left:0;}

.nav_company{color:#dcdcdc;
margin-top:1.2rem;
clear:both;}


/*nav(modal)_end*/


/*-----------------menu_bar-----------------*/

.menu_icon {width: 50px;
height: 50px;
float:right;
position: relative;
top:-12px;
transform:scale(0.8);
cursor: pointer;
z-index:20;}

.menu-bar {width: 50px;
height: 5px;
background: #000;
position: absolute;
transition: all 0.3s;}

.menu-bar1 {margin-top: 9px;}

.menu-bar2 {margin-top: 23px;}

.menu-bar3 {margin-top: 37px;}

.menu_icon.hover .menu-bar1 {-webkit-transform: rotate(45deg) scaleX(0.7);margin-top: 22px;}
.menu_icon.hover .menu-bar2 {opacity: 0}
.menu_icon.hover .menu-bar3 {-webkit-transform: rotate(-45deg) scaleX(0.7);margin-top: 22px;}

/*-----------------menu_bar_end-----------------*/

/*main_slide*/

#main_slide_wrap{width:90%;
height:100vh;
margin:0 auto;
position:relative;
/*background-color:#999;*/}

.slick-items{width:100%;
height:90%;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);}

.slick-items div{width:100%;
height:100%;}

.main_slide_1, .main_slide_2{position:relative;
z-index:2;}

.main_slide_1{background:url("../img/main_1.png")no-repeat center center;
background-size:cover;}

.main_slide_2{background:url("../img/main_2.png")no-repeat center center;
background-size:cover;}

.text_box{position:relative;
top:80%;
left:0;
z-index:1;
transform:translate(12%, -50%);}

.text_box .top, .text_box .bottom{display:block;
font-size:7rem;
font-weight:300;
line-height:102px;}

.text_box::after{content:" ";
display:block;
clear:both;}

.text_box .bottom{float:left;}

.line{width:14.4%;
height:3.5px;
margin-top:48.8px;
margin-left:27px;
display:block;
float:left;
background-color:#999;}

.main_slide_2 .text_box .line{width:10.7%;}

.view_box_wrap{width:128px;
font-weight:300;
clear:both;
position:relative;
top:4%;}
/*clear:both / top바뀜*/

.view_box{width:128px;
font-size:1.1rem;
font-weight:300;
padding:0.7rem 3.5rem;
border:1px solid #333;
transition-duration:0.3s;}
/*폰트사이즈, 패딩 바뀜*/

.view_box:hover{color:#fff;
background-color:#333;}

.right_btn_position{width:90%;
position:fixed;
top:50%;
left:93%;
z-index:198;
margin-top:-68px;}

.right_btn_position::after{content:" ";
display:block;
clear:both;}

.right_btn{width:38px;
height:34px;
z-index:198;}

.right_btn a{width:35px;
height:4px;
margin-top:40px;
display:block;
transform: rotate(-45deg);
background-color:#999;}

.right_btn a:first-child{margin-top:0px;}

.right_btn a.wheel{background-color:#333;}

/*main_slide_end*/


/*main_page_2*/

#main_page_2_wrap{width:90%;
height:100vh;
margin:0 auto;}

#main_page_2{width:100%;
height:100vh;
position:relative;
/*background-color:#eaeaea;*/}

#main_page_2::after{content:" ";
display:block;
clear:both;}

.concept_box{width:50%;
height:47%;
color:#fff;
font-weight:300;
padding:4% 4% 10% 4%;
background:url("../img/main_page_2_bg_2.jpg")no-repeat center;
background-size:cover;
position:relative;
top:40%;
right:7%;
z-index:2;
margin-top:-16%;
float:right;}

.concept{width:17%;
color:#999;
font-size:1.3rem;
font-weight:400;
display:block;
float:left;
/*background-color:pink;*/}

.concept_line{width:25%;
height:3.5px;
margin-top:9px;
display:block;
float:left;
background-color:#999;}

.concept_white_box_wrap{width:67%;
height:30%;
position:relative;
margin-top:-15%;
margin-right:-15%;
float:right;}

.concept_white_box{width:100%;
height:140%;
display:block;
background-color:#fff;}

.concept_brand_name{width:100%;
height:80px;
font-size:2.3rem;
font-weight:700;
margin-top:15%;
clear:both;
display:block;}

.concept_box p{width:90%;
font-size:1.1rem;
color:#dcdcdc;
letter-spacing:0.05rem;
line-height:2rem;
margin-left:11.5%;}

.video_box{width:34%;
height:35%;
position:relative;
top:15%;
left:7%;
z-index:3;
clear:both;}

.video_box iframe{width:100%;
height:100%;}

/*main_page_2_end*/


/*main_page_3*/

#main_page_3_wrap{width:100%;
height:100vh;
float:left;
overflow:hidden;
position:relative;}

#main_page_3_slide{width:300vw;
float: left;
position:relative;}

#main_page_3_slide::after{content:" ";
display:block;
clear:both;}

#main_page_3_sub_wrap {
	width: 81%;
	height:100%;
	overflow:hidden;
	float:left;
}

.main_page_3{width:100vw;
height:100vh;
float:left;
position:relative;}

.main_page_3::after{content:" ";
display:block;
clear:both;}

.full_box{width:26%;
height:100vh;
margin-left:0.7%;
float:left;
position:relative;
z-index:5;}

.full_box::before{width:100%;
height:0;
content:" ";
position:absolute;
z-index:1;
transition: 0.7s;
background-color:#000;}

.full_box:hover.full_box::before{height:100%;}

.full_box:first-child{margin-left:0;}

.span_box{width:100%;
height:45%;
position:absolute;
top:50%;
left:50%;
z-index:2;
transform:translate(-50%, -34%);}

.span_box_video{width:100%;
height:70%;
position:relative;
-webkit-filter: grayscale(60%);
    filter: grayscale(60%);
display:block;
transition-duration:0.3s;
background-color:#fff;}

.span_box_video .video_box {
	width:100%;
	height: 100%;
	left: 0;
    top: 0;
}

.full_box:hover .span_box_video{-webkit-filter: grayscale(0);
    filter: grayscale(0);}

.span_box_name_wrap{width:100%;
font-size:1rem;
font-weight:400;
text-align:center;
line-height:2rem;
padding:1.4rem 0;
position:relative;
z-index:10;
display:block;}

.span_box_name_wrap::before{width:0;
height:100%;
content:" ";
display:block;
position:absolute;
top:0;
bottom:0;
z-index:5;}

.span_box_name{width:100%;
display:block;
position:relative;
z-index:6;
color:#fff;}

.full_box:hover .span_box_name_wrap{display:block;}

.full_box:hover .span_box_name_wrap::before{width:100%;}

.main_page_3_right_btn_wrap{width:19%;
height:100vh;
right:0;
position:absolute;}

.main_page_3_right_btn_wrap::after{content:" ";
display:block;
clear:both;}

.main_page_3_right_btn{width:58px;
height:24px;
float:left;
position:relative;
top:62%;}

.main_page_3_right_btn::after{content:" ";
display:block;
clear:both;}

.main_page_3_right_btn li{width:24px;
height:24px;
margin-left:10px;
float:left;
cursor:pointer;
transition-duration:0.3s;}

.main_page_3_right_btn li:first-child{margin-left:0;}
/*main_page_3_end*/


/*main_page_4*/
#main_page_4_wrap{width:100%;
height:100vh;}

#main_page_4{width:100vw;
height:72vh;
padding-top:10vh;
overflow-x:scroll;}

.main_page_4_slide{width:300vw;
height:75vh;
font-size:1.3rem;
font-weight:400;
text-align:center;}

.main_page_4_slide::after{content:" ";
display:block;
clear:both;}

.main_page_4_slide li{width:10%;
height:62vh;
margin-left:0.5%;
float:left;}

.main_page_4_slide li span{position:relative;
top:65vh;}

.main_page_4_slide li:nth-child(1){background:url("../img/autumn_2018_1st_thumb.jpg")no-repeat center center;
background-size:100%;
margin-left:0;
transition:0.3s;}
.main_page_4_slide li:nth-child(2){background:url("../img/summer_2018_3rd_thumb.jpg")no-repeat center center;
background-size:100%;
transition:0.3s;}
.main_page_4_slide li:nth-child(3){background:url("../img/summer_2018_thumb.jpg")no-repeat center center;
background-size:100%;
transition:0.3s;}
.main_page_4_slide li:nth-child(4){background:url("../img/spring_2018_thumb.jpg")no-repeat center center;
background-size:100%;
transition:0.3s;}
.main_page_4_slide li:nth-child(5){background:url("../img/winter2017_2_thumb.jpg")no-repeat center center;
background-size:100%;
transition:0.3s;}
.main_page_4_slide li:nth-child(6){background:url("../img/winter2017_1_1_thumb.jpg")no-repeat center center;
background-size:100%;
transition:0.3s;}
.main_page_4_slide li:nth-child(7){background:url("../img/autumn2017_1_thumb.jpg")no-repeat center center;
background-size:100%;
transition:0.3s;}
.main_page_4_slide li:nth-child(8){background:url("../img/summer2017_2_thumb.jpg")no-repeat center center;
background-size:100%;
transition:0.3s;}
.main_page_4_slide li:nth-child(9){background:url("../img/summer2017_1_thumb.jpg")no-repeat center center;
background-size:100%;
transition:0.3s;}

.main_page_4_slide li:nth-child(1):hover{background:url("../img/autumn_2018_1st_thumb_2.jpg")no-repeat center center;
background-size:100%;}
.main_page_4_slide li:nth-child(2):hover{background:url("../img/summer_2018_3rd_thumb_2.jpg")no-repeat center center;
background-size:100%;}
.main_page_4_slide li:nth-child(3):hover{background:url("../img/summer_2018_thumb_2.jpg")no-repeat center center;
background-size:100%;}
.main_page_4_slide li:nth-child(4):hover{background:url("../img/spring_2018_thumb_2.jpg")no-repeat center center;
background-size:100%;}
.main_page_4_slide li:nth-child(6):hover{background:url("../img/winter2017_1_1_thumb_2.jpg")no-repeat center center;
background-size:100%;}
.main_page_4_slide li:nth-child(7):hover{background:url("../img/autumn2017_1_thumb_2.jpg")no-repeat center center;
background-size:100%;}
.main_page_4_slide li:nth-child(9):hover{background:url("../img/summer2017_1_thumb_2.jpg")no-repeat center center;
background-size:100%;}

/*스크롤바 */
::-webkit-scrollbar{
        height: 8px;
        width: 0;
    }
    ::-webkit-scrollbar-thumb:horizontal{
        background: #999;
    }

	::-webkit-scrollbar-thumb:horizontal:hover{
        background: #333;
    }
/*스크롤바 */
/*main_page_4_end*/


/*footer*/

#footer_wrap{width:100%;
height:100vh;
position:relative;}

#footer{width:100%;
height:80vh;
position:absolute;
bottom:0;
background-color:black;}

#footer::atfer{content:" ";
display:block;
clear:both;}

.footer_img_box{width:43%;
height:100%;
margin-left:1%;
float:left;}

.footer_img{width:65%;
margin:-3rem  auto;}

.footer_img img{width:100%;}

.footer_box{width:56%;
height:100%;
float:right;
/*background-color:#666;*/}

.footer_box_logo{width:188px;
height:60px;
margin-top:6%;
margin-left:6%;}

.footer_box_logo img{width:100%;}

.footer_box_menu{width:30%;
font-size:1.2rem;
font-weight:400;
line-height:3.4rem;
margin-top:6%;
margin-left:6%;}

.footer_box_menu li a{color:#999;}

.footer_box_menu li a:hover .footer_box_menu a{color:#fff;}

.footer_box_sns{width:120px;
height:30px;
margin-top:6%;
margin-left:6%;}

.footer_box_sns li{margin-left:10%;
float:left;
}

.footer_box_sns li:first-child{margin-left:0;}

.copyright{margin-top:3%;
margin-left:6%;
color:#dcdcdc;}

/*footer_end*/











/*반응형 실험*/

@media only screen and (min-width:1601px) {

	/*main_page_1*/
	.text_box{transform:translate(13%, -50%);}

	.text_box .top, .text_box .bottom{font-size:8.2rem;
	line-height:120px;}

	.line{width:13.6%;
	margin-left:30px;}

	.view_box_wrap{top:4%;}

	.view_box{padding:0.8rem 4rem;}


	/*nav*/
	#nav{width:380px;
	padding:150px 100px;}

	.nav_menu li{margin:2.5rem 0;}

	.nav_menu h2{font-size:1.7rem;
	font-weight:500;}

	.nav_company{margin-top:1.5rem;}


	/*right_fix_btn*/
	.right_btn_position{margin-top:-83px;}
	
	.right_btn a{margin-top:50px;}


	/*main_page_2*/
	.main_slide_2 .text_box .line{width:10.5%;
	margin-left:25px;}
	
	.concept{font-size:1.6rem;}

	.concept_brand_name{font-size:3rem;}

	.concept_box p{width:93%;
	font-size:1.3rem;
	line-height:2.5rem;
	margin-top:2%;
	margin-left:7.5%;}
	
	.video_box{width:32%;
	height:32.9%;
	top:16.5%;
	left:7%;}
    
	.span_box_name_wrap{font-size:1.2rem;
	line-height:2.3rem;
	padding:1.8rem 0;}


	/*main_page_3*/

	.span_box{transform:translate(-50%, -35%);}

	/*main_page_4*/
	#main_page_4_slide{height:78vh;
	padding-top:4rem;}

	.main_page_4_text_box{font-size:1.3rem;}


	/*footer*/
	.footer_box_menu{font-size:1.4rem;
	line-height:5rem;}

	.footer_box_sns{margin-top:6%;}

}

@media only screen and (max-width:1600px) and (min-width:1401px) {

}

@media only screen and (max-width:1400px) and (min-width:1201px) {
	.text_box .top, .text_box .bottom{font-size:5rem;}
}


